body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(50, 50, 50);
}

.timerbox {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 10em;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.panelbutton, .paneltext {
    border: 1px white solid;
    color: white;
    padding: 5px 8px;
    background-color: transparent;
    border-radius: 10px;
}

.panelbutton {
    margin-right: 30px;
}

.panelbutton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.buttonpanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}